:root {
    --sitePadding: 10px;
}

header, footer {
    background-color: #B3E5FC;
    padding: var(--sitePadding);
}

body {
    background-color: #e6ffff;
}

header {
    width: 100%;
    padding-top: 0px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.leftLabel {
    text-align: right;
    height: 25px;
    margin-bottom: 5px;
}

.rightInput {
    text-align: left;
    height: 25px;
    width: auto;
    margin-bottom: 5px;
}

input:read-only {
    width: auto;
}

#addressInput {
    width: 300px;
}

#zipInput {
    width: 75px;
}

.error {
    color: red;
    font-weight: bold;
}

.mainContent {
    padding: var(--sitePadding);
}

mandatory {
    color: red;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 800px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #808080;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}