input {
    background: #fffdd7;
    color: black;
    font-size: 100%;
}

input:read-only {
    background-color: #505d5c;
    color: white;
    font-size: 100%;
    box-sizing: border-box;
}

input:-moz-read-only {
    background-color: #505d5c;
    color: white;
    font-size: 100%;
    box-sizing: border-box;
}

select {
    background: #fffdd7;
    color: black;
}

h3 {
    font-weight: bold;
    color: white;
}

h4 {
    color: white;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    color: white;
    font-size: 100%;
}

text {
    color: white;
    font: Arial;
}

body {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

div {
    padding-top: 2px;
    padding-bottom: 2px;
}

mandatory {
    color: red;
}

table, th, td {
    background: black;
    color: white;
    font-family: 'latoregular';
    font-size: 14px;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    border-bottom: 2pt solid white;
    border-top: 2pt solid white;
}

html, body {
    height: 100%;
}

.content {
    flex: 1 0 auto;
}